<div class="ekart--product--container">
  <app-search (onSearchEvent)="setSearchText($event)" />

  <product-list [searchText]="searchText" #productListComponent />

  @if(productListComponent.selectedProduct){
  <product-detail [productListComp]="productListComponent" />
  }

  <div class="ekart-featured-products">
    <div class="ekart-featured-product-heading">
      <h1>Latest Arrival in Popular Brands</h1>
    </div>

    <featured-brands>
      <h3 class="title">New Arrivals in Nike</h3>
      <button class="call-to-action">Show New Arrivals in Nike</button>
    </featured-brands>

    <featured-brands>
      <h3 class="title">New Arrivals in Adidas</h3>
      <button class="call-to-action">Show New Arrivals in Adidas</button>
    </featured-brands>

    <featured-brands>
      <h3 class="title" #myTitle>New Arrivals in Reebok</h3>
      <button class="call-to-action">Show New Arrivals in Reebok</button>
    </featured-brands>

  </div>
</div>
